*{
  margin: 0;
}
.header{
  background-color: mediumblue;
  color: white;
  padding: 15px;
}

.content{
  min-height: calc(100vh - 185px);
}


.footer{
  background-color: mediumblue;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

ul{
  padding: 0;
}

.item{
  list-style: none;
  display: flex;
  margin: 0.25rem 1rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  /* justify-content: space-between; */
  align-items: center;
  background: #eee;
}

.item label{
  margin: 0 20px;
  font-size: 24px;
  flex-grow: 1;
}

.item input[type='checkbox']{
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
  cursor: pointer;
}

/* .item input[type='checkbox']:focus + label{
  text-decoration: underline;
} */


.delete{
  width: 30px;
  height: 30px;
  color: steelblue;
  outline: none;
  cursor: pointer;
  padding-right: 1rem;
}

.delete:hover{
  color:red;
}

.addForm{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}


.addForm input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 45px;
  font-size: 1rem;
  padding-left: 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

button{
  height: 48px;
  min-width: 48px;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: aliceblue;
  margin-right: 1rem;
  color: mediumblue;
  cursor: pointer;
}

button:focus,
button:hover{
  color: white;
  background-color: limegreen;
  outline: none;
}